<h2>Hello, {{user}}!</h2>

<div class="myCourse">
    <h5 class="my-5">Upcoming course(s):</h5>
{{#each myCourse}}
<div class="container courseListItem" id="myCourseList">
    <div class="courseButtons">
        <input type="hidden" class="courseID" value={{id}}>
        <a href="/course/detail/{{id}}">
            <p class="courseDetail">Course Detail</p>
        </a>
        <input class="btn cancelBtn" type="button" value="Cancel" data-bs-toggle="modal"
            data-bs-target="#cancelCourse" />
    </div>
    <div class="row">
        <div class="courseDataLeft col-lg-3 col-sm-12">
            <div class="courseDate">
                <p>Date: {{date}}</p>
            </div>
            <div class="courseTime">
                <p>Time: {{time_slot}}</p>
            </div>
        </div>
        <div class="courseDataMiddle col-lg-3 col-sm-12">
            <div class="courseName">
                <p><span style="font-weight: 300; text-transform: none;">Course:</span> <span id="course_name">{{course_name}}</span> ({{sport_name}})</p>
            </div>
            <div class="courseInstructor">
                <p>Instructor: {{name}}</p>
            </div>
        </div>
        <div class="courseDataRight col-lg-6 col-sm-12">
            <div class="courseRoom">
                <p>Room: {{room_name}}</p>
            </div>
        </div>
    </div>
</div>
{{/each}}
</div>

        <!-- Modal -->
        <div class="modal fade" id="cancelCourse" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Cancel Booking</h5>
                    </div>
                    <div class="cancel-modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeModal">Cancel</button>
                        <button type="button" class="btn btn-primary" id="confirmCancelBtn">Confirm</button>
                    </div>
                </div>
            </div>
        </div>